<h1>Karl's Most Epic Imaginary Art Collection</h1>
<% @artworks.each do |artwork| %>
  <h3>Title: <%= artwork.title %></h3>
  <p>Year: <%= artwork.year_made %></p>
  <p>For Sale: <%= artwork.for_sale %></p>
<% end %>