<h1>Karl's Most Epic Imaginary Art Collection</h1>
<% @artworks.each do |artwork| %>
  <h2>Title: <%= artwork.title %></h2>
  <h3>Artist: <%= artwork.artist.name %></h3>
  <h4>Year: <%= artwork.year_made %></h4>
  <h4>For Sale: <%= artwork.for_sale %></h4>
<% end %>